.addmaterial-container {
    background-color: #f2f2f7 !important;
    /* z-index: 9999; */
    /* height: 1000vh; */
    padding-bottom: 50px;
}

.addmaterial-header {
    padding: 6px 12px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    background: var(--White, #FFF);
    position: sticky;
    z-index: 1000;
    top: 40px;
}

.cancel-btn {
    color: var(--Slate-700, #334155);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    /* 146.154% */
}

.addmaterial-header h4 {
    color: var(--Slate-800, #1E293B);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
}

.addmaterial-header .addBtn-users {
    border-radius: 4px;

    /* padding: 2.5px 36px; */
    border: none;
    color: var(--Background-White, #FFF);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    /* 146.154% */
    padding: 4px 16px 4px 12px;
    display: flex;
    width: fit-content;
}

.saveText {
    padding: 2.5px 15px 2.5px 0;
}

.dropDownIcon {
    border-left: 1px solid #FFFFFF;
    padding-left: 7.5px;
}

.indicationCls {
    color: #475569;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-left: 6px;
}


@media (min-width: 1200px) {

    .addmaterial-container .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 50% !important;
    }
}

.addmaterial-bodyContent {
    background: var(--Background-White, #FFF);
    padding: 20px 28px;
    border-radius: 4px;
    margin-top: 20px;

}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;

    /* This ensures a single field in a row takes 100% width */
    &>.form-field {
        flex: 0 0 48%;
        /* Default is 48% width when there are two fields */

        /* Full width if there is only one field in the row */
        &:only-child {
            flex: 0 0 100%;
        }
    }
}


.form-field {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

.homeAddContainer h4 {
    border-bottom: 1px solid #CBD5E1;
    color: #1E293B;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 8px 28px;

}

::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .25em 0;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
    border-top: 10px solid transparent;
    border-bottom: 6px solid transparent;
}

.addmaterial-bodyContent mat-label {
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
}

::ng-deep .addmaterial-bodyContent input.mat-input-element {
    margin-top: -0.0625em;
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%);
}

::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-end {
    background: var(--Slate-100, #F1F5F9);
    /* border-right: 1px solid var(--Slate-200, #E2E8F0); */

}

::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    background: var(--Slate-100, #F1F5F9);

}

::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-start {
    background: var(--Slate-100, #F1F5F9);
    /* border-left: 1px solid var(--Slate-200, #E2E8F0); */

}

::ng-deep .addmaterial-bodyContent span.mat-select-min-line {
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::ng-deep .addmaterial-bodyContent .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -2px !important;
}

.suffixTextCls {
    color: var(--Slate-500, #64748B);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 169.231% */
}

.homeAddContainer {
    background: #FFFFFF;
    border-radius: 4px;
}

.homeAddContainer p {
    color: #61656E;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.licenseUploadBtn {
    border: 1px solid #64748B;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #64748B;
    padding: 4px 12px;
    border-radius: 4px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.gap-4 {
    gap: 4px;
}


.profile-img-content,
.hasProfile {
    position: relative;
    display: inline-block;
}

span.noProfile {
    display: flex;
}

.uploadBtn {
    display: none;
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 0;
    background: #E2E8F0;
    color: #334155;
    /* font-family: 'BlinkMacSystemFont Regular'; */
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    border: none;
}

.profile-img-content:hover .uploadBtn,
.hasProfile:hover .imgBtnUpload {
    display: block;
}

.hasProfile:hover img {}


.profile-Upload .circle {
    width: 5px;
    height: 5px;
    background: #64748B;
    border-radius: 50%;
}

.gap-12 {
    gap: 12px;
}

.gap-6 {
    gap: 6px;
}

.gap-8 {
    gap: 8px;
}

.profile-Upload p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: left;
    color: #475569;

}

/* Styling adjustments for the button positioning */
.imgBtnUpload {
    display: none;
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 0;
    left: 0;
    /* background: #FFFFFF;
    color: #334155;
    font-family: 'BlinkMacSystemFont Regular';
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    border: none; */
}


.addmaterial-bodyContent img {
    border-radius: 4px;
    width: 47.88px;
    height: 47.88px;
}


.noProfile {
    /* background: #E2E8F0; */

    border-radius: 4px;
    width: 47.88px;
    height: 47.88px;
    /* color: var(--primary-col, #006CB7); */
    font-size: 17.47px;
    font-weight: 600;
    line-height: 23.05px;
    letter-spacing: 0.01em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Menu-Higlight, rgba(127, 151, 241, 0.30));
    color: #283892;
}