
<form [formGroup]="trailersForm" (ngSubmit)="savetrailers()">
    <div class="addTrailers-container">
        <div class="addTrailers-header">
            <h4 class="mb-0">New trailers</h4>
    
            <button type="button" class="common-btn" (click)="close()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    viewBox="0 0 20 20" fill="none">
                    <path d="M15 5L5 15" stroke="#334155" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M5 5L15 15" stroke="#334155" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg></button>
        </div>
    
        <div class="addTrailers-content">
            <div class="w-100 d-flex flex-column mb-2">
                <mat-label>Name <span><svg width="7" height="7" viewBox="0 0 7 7" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.192 1.28L6.768 2.32L4.544 3.248L6.784 4.16L6.176 5.232L4.24 3.824L4.496 6.24H3.296L3.536 3.824L1.6 5.248L0.976 4.16L3.2 3.232L0.976 2.336L1.568 1.264L3.552 2.688L3.296 0.256H4.512L4.24 2.688L6.192 1.28Z"
                                fill="#FF1F00" />
                        </svg>
                    </span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="" formControlName="trailersName">
                </mat-form-field>
            </div>
            <div class="w-100 d-flex flex-column mb-2">
                <mat-label>License plate <span><svg width="7" height="7" viewBox="0 0 7 7" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.192 1.28L6.768 2.32L4.544 3.248L6.784 4.16L6.176 5.232L4.24 3.824L4.496 6.24H3.296L3.536 3.824L1.6 5.248L0.976 4.16L3.2 3.232L0.976 2.336L1.568 1.264L3.552 2.688L3.296 0.256H4.512L4.24 2.688L6.192 1.28Z"
                                fill="#FF1F00" />
                        </svg>
                    </span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="" formControlName="licensePlate">
                </mat-form-field>
            </div>
            <div class="w-100 d-flex flex-column mb-2">
                <mat-label>Usage type <span><svg width="7" height="7" viewBox="0 0 7 7" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.192 1.28L6.768 2.32L4.544 3.248L6.784 4.16L6.176 5.232L4.24 3.824L4.496 6.24H3.296L3.536 3.824L1.6 5.248L0.976 4.16L3.2 3.232L0.976 2.336L1.568 1.264L3.552 2.688L3.296 0.256H4.512L4.24 2.688L6.192 1.28Z"
                                fill="#FF1F00" />
                        </svg>
                    </span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="" formControlName="usageType">
                </mat-form-field>
            </div>
            <div class="w-100 d-flex flex-column mb-2">
                <mat-label>Axle count <span><svg width="7" height="7" viewBox="0 0 7 7" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.192 1.28L6.768 2.32L4.544 3.248L6.784 4.16L6.176 5.232L4.24 3.824L4.496 6.24H3.296L3.536 3.824L1.6 5.248L0.976 4.16L3.2 3.232L0.976 2.336L1.568 1.264L3.552 2.688L3.296 0.256H4.512L4.24 2.688L6.192 1.28Z"
                                fill="#FF1F00" />
                        </svg>
                    </span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="" formControlName="axleCount">
                </mat-form-field>
            </div>
    
        </div>
    </div>
    
    <div class="trailers-footer d-flex justify-content-end align-items-center  gap-8">
        <button class="cancleBtn" type="button" (click)="close()">Cancel</button>
        <button class="saveBtn bgColorCls" type="submit">{{saveBtnText}}</button>
    </div>
    </form>