.addUsers-container{
    background-color: #f2f2f7 !important;
    /* z-index: 9999; */
    /* height: 100vh;  */
    padding-bottom: 50px;
}

.addUsers-header{
    padding: 6px 12px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
background: var(--White, #FFF);
z-index: 1000;
position: sticky;
top: 0;
}
.disable {
  opacity: 0.5;
}
.cancel-btn{
    color: var(--Slate-700, #334155);
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 146.154% */
}

.addUsers-header h4{
    color: var(--Slate-800, #1E293B);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
}

.addUsers-header .addBtn-users{
    border-radius: 4px;

padding: 2.5px 36px;
border: none;
color: var(--Background-White, #FFF);
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 146.154% */
}


@media (min-width: 1200px) {
   .addUsers-container .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 50% !important;
    }
}

.addUsers-bodyContent{
    background: var(--Background-White, #FFF);
    padding: 20px 28px;
    border-radius: 4px;
    margin-top: 20px;
    
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;
  
    /* This ensures a single field in a row takes 100% width */
    & > .form-field {
      flex: 0 0 48%; /* Default is 48% width when there are two fields */
  
      /* Full width if there is only one field in the row */
      &:only-child {
        flex: 0 0 100%;
      }
    }
  }
  
  
  .form-field {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .addUsers-bodyContent .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .25em 0;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


::ng-deep .addUsers-bodyContent .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
    border-top: 10px solid transparent;
    border-bottom: 6px solid transparent;
}

.addUsers-bodyContent mat-label{
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont !important;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 153.846% */
}

::ng-deep .addUsers-bodyContent input.mat-input-element {
    margin-top: -0.0625em;
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::ng-deep .addUsers-bodyContent .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%);
}

::ng-deep .addUsers-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-end{
    background: var(--Slate-100, #F1F5F9);
    /* border-right: 1px solid var(--Slate-200, #E2E8F0); */

}
::ng-deep .addUsers-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-gap{
    background: var(--Slate-100, #F1F5F9);

}
::ng-deep .addUsers-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-start{
    background: var(--Slate-100, #F1F5F9);
    /* border-left: 1px solid var(--Slate-200, #E2E8F0); */

}

::ng-deep .addUsers-bodyContent span.mat-select-min-line{
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.homeAddContainer {
    background: #FFFFFF;
    border-radius: 4px;
}

.homeAddContainer h4 {
    border-bottom: 1px solid #CBD5E1;
    color: #1E293B;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 8px 28px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.homeAddContainer span{
    color: #475569;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 8px;
    
}

::ng-deep  input[type="checkbox"]:checked + .checkmark {
    background-color: #4CAF50; /* Checked background color */
    border-color: #4CAF50; /* Optional: Change border color too */
  }

  .gap-8{
    gap: 8px;
  }

  .comman-container{
    padding: 8px 28px !important;
  }

  .comman-container div{
    margin-bottom: 16px;
  }
  .comman-container div:last-of-type{
    margin-bottom: 0px !important;
  }

  .addEditRoles-Container{
    margin-top: 12px !important;
  }


  .addEditRoles-content-table {
    padding: 16px;
    
  }
  
  
  .addEditRoles-content-table .table th {
    border-top: 0px solid #dee2e6 !important;
    border-bottom: 1px solid #E2E8F0 !important;
    color: var(--Slate-700, #334155);
  font-family: BlinkMacSystemFont !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 10px;
  padding-top: 0px !important;
  }
  
  .addEditRoles-content-table .table td{
    border-top: 1px solid #dee2e6 !important;
    color: var(--Slate-600, #475569);
  font-family: BlinkMacSystemFont !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-content: center;
  }
  
  
  .addEditRoles-content-table .table tbody tr:hover{
    background: #F9F9FB;
  }
  
  .addEditRoles-content-table .table .action-cell{
    text-align: right;
    display: flex;
    justify-content: end;
    gap: 7px;
  }
  
  .addEditRoles-content-table .table .action-cell .icon {
    visibility: hidden; /* Keeps space reserved but hides icons */
  }
  
  .addEditRoles-content-table .table tbody tr:hover .action-cell .icon {
    visibility: visible; /* Shows icons on hover */
  }