.qualityTaskContainer {
    background: var(--Background-Extra-white, #F2F2F7) !important;
}

.stage_header {
    background-color: #fff;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    position: sticky;
    top: 40px;
    z-index: 1000;
}

.stage_header button {
    border: none;
    outline: none;
    background: none;
}

.stage_button {
    background: none;
    color: var(--Gray-50, #5F6D7E);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.795px;
    /* 123.288% */
    letter-spacing: -0.074px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.stage_button_active {
    color: var(--linear-Color, #283892);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.795px;
    /* 123.288% */
    letter-spacing: -0.074px;
}

.stage_button_grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
}

.continueBtn {
    display: flex;
    height: 24px;
    padding: 0px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: BlinkMacSystemFont;
    font-size: 13px;
    border-radius: 3px;
    background: #283892 !important;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    /* 146.154% */
}

.cancelBtn {
    background: none;
    color: var(--Slate-700, #334155);
    text-align: center;
    font-family: BlinkMacSystemFont;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    /* 146.154% */
}

.stages {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: calc(100vw - 496px); */
}

.stages_Container {
    margin-top: 20px;
    background: var(--Background-White, #FFF);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    width: 560px;
    border-radius: 4px;
}

.stages_inner_container {
    width: 100%;
}

.stageHeader {
    color: var(--Slate-800, #1E293B);
    font-family: BlinkMacSystemFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    padding: 8px 28px;
    margin: 0;
    border-bottom: 1px solid var(--Slate-300, #CBD5E1);
    width: 100%;
}

/* vehicle & trailer container */
.addorders-bodyContent {
    background: var(--Background-White, #FFF);
    padding: 20px 28px;
    border-radius: 4px;
    margin-top: -10px;

}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: 12px; */
}

.inputLikeBtn {
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
}

.inputLikeBtn {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    padding: 4px 16px;
    align-items: start;
    grid-gap: 10px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid var(--Slate-200, #E2E8F0);
    background: var(--Slate-100, #F1F5F9);
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.container-fluid {
    /* padding: 20px 28px; */
    /* padding-top: 12px; */
}

::ng-deep .container-fluid .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.searchCls {
    /* padding: 0px 33px; */
    margin: 0 !important;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px !important;
}
::ng-deep .search .mdc-notched-outline {
    display: none;
}

::ng-deep .search .mat-form-field-appearance-outline .mat-form-field-flex {
    background: #F1F5F9;
    border-radius: 5px;
    border-left-style: none;
    /* border: 1px solid #E0E0E0; */
}


::ng-deep .search .mat-mdc-text-field-wrapper {
    max-width: 100% !important;
    width: 100% !important;
}

::ng-deep .search .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 10px;
    border-top: 0px !important;
    padding-bottom: 5px;
}

::ng-deep .search .mat-mdc-form-field-infix {
    min-height: 34px;
}

::ng-deep .search .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #F1F5F9 !important;
    margin-bottom: 0px !important;
}

.inputLabel {
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
    margin-bottom: 8px;
}

.content {

    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
    padding-bottom: 14px;
    padding-top: 6px;
    border-bottom: 1px dashed var(--Slate-300, #CBD5E1);
    margin-bottom: 12px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.chooseBtn {
    display: flex;
    padding: 5px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F3F3F3;
    border: none;
    padding: 6px 16px;
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

.chooseBtn:first-child {

    /* margin-right: 12px; */
}

.yesBtn {
    background: #13D090 !important;
    color: var(--white, #FFF);
}

.noBtn {
    background: #F4404B !important;
    color: var(--white, #FFF);
}

.chooseContent {
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.cus_radio {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: #F3F3F3;
    width: fit-content;
    color: #fff;
}

::ng-deep .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.69) !important;
}

::ng-deep .mat-radio-label-content {
    color: rgba(0, 0, 0, 0.69);
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    /* 90.909% */
    letter-spacing: -0.055px;
}

::ng-deep .mat-radio-label {
    margin: 0 !important;
}

::ng-deep .mat-radio-outer-circle {
    height: 15px !important;
    width: 15px !important;
}

::ng-deep .mat-radio-container {
    height: 15px !important;
    width: 15px !important;
}

.selectGrp {

    padding: 20px;
    border-bottom: 1px solid var(--Slate-300, #CBD5E1);
    width: 100%;
}

.matRadioGroup {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.selectGrp:last-child {
    border: none !important;
}

::ng-deep .mat-radio-container {
    display: none !important;
}

::ng-deep .mat-radio-label-content {
    user-select: auto;
    display: flex !important;
    align-items: center !important;
    order: 0;
    line-height: inherit;
    padding-left: 0 !important;
    padding-right: 0;
    gap: 4px !important;
}

.cus_radio_acitve {
    background: #283892;
    color: #fff !important;
}

::ng-deep .cus_radio_acitve .mat-radio-label-content {
    background: #283892;
    color: #fff !important;
}

.ratingBtn {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 9.412px;
    justify-content: center;
    align-items: center;
    gap: 9.412px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.gap-3 {
    gap: 12px;
}

.ratingBtnActive {
    background: #283892 !important;
    color: #fff;
}

::ng-deep .mat-form-field-suffix {
    top: -3px !important;
}

.cusTab {
    display: flex;
    width: 23.671px;
    height: 23.671px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14.795px;
    border: 0.74px solid var(--Neutral-700, #DAE0E6);
    background: var(--Base-White, #FFF);
    text-align: center;
    font-size: 11.836px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.753px;
    /* 150% */
    letter-spacing: -0.074px;
    white-space: nowrap;
}

.tabActive {
    border-radius: 14.795px;
    background: var(--Violet-menu-light, rgba(40, 56, 146, 0.20));
}

.disableText{
    opacity: 0.6;
    pointer-events: none;
}
::ng-deep .qualityTaskContainer .mat-radio-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
    text-wrap: auto !important;
}