.gap-12 {
    gap: 12px;
}

.task-headers {
    padding: 6px 12px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    background: var(--White, #FFF);
    z-index: 1000;
    position: sticky;
    top: 40px;
}


.task-headers span {
    color: var(--Slate-700, #334155);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.status-btn {
    color: var(--Slate-700, #334155);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
}

/* table */

/* norecords */
.noMasterRecords p {
    color: var(--Slate-500, #64748B);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.noRecordText {
    color: var(--Slate-700, #334155);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 16px;
}

/* status */


::ng-deep .pending {
    border-radius: 4px;
    background: rgba(232, 28, 40, 0.14) !important;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

::ng-deep .completed {
    border-radius: 4px;
    background: rgba(13, 186, 93, 0.14) !important;
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

::ng-deep .Inprogress {
    border-radius: 4px;
    background: rgba(255, 177, 0, 0.20) !important;
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

::ng-deep .Checked {
    border-radius: 4px;
    background: rgb(9 250 70 / 20%) !important;
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

::ng-deep .ReachedSite {
    border-radius: 4px;
    background: var(--highlighter, #DEECF6) !important;
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #005AAA);

}
::ng-deep .Intransit {
    border-radius: 4px;
background: rgba(255, 177, 0, 0.20);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #005AAA);

}
::ng-deep .Collected {
    border-radius: 4px;
    background: rgba(13, 186, 93, 0.14);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #005AAA);

}
::ng-deep .Material-in-Transit {
    border-radius: 4px;
    background: rgb(233, 196, 76);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #005AAA);

}
::ng-deep .BinAssigned {
    border-radius: 4px;
    background: rgba(255, 177, 0, 0.20);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #E18417);

}
::ng-deep .Assigned {
    border-radius: 4px;
    background: rgba(32, 228, 6, 0.2);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #005AAA);

}
::ng-deep .Arrived {
    border-radius: 4px;
    background: rgba(107, 182, 138, 0.986);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #fff);

}


.Tipped {
    border-radius: 4px;
    background: rgba(13, 186, 93, 0.14);
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--logo-greeen, #388C5F);

}

.operators {
    border-radius: 4px;
    background: rgba(232, 28, 40, 0.14);
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #E81C28;
}

.body-content :hover {
    background: var(--highlighter, #DEECF6);
}



::ng-deep .ag-theme-material .ag-row-hover:not(.ag-full-width-row)::before,
.ag-row-hover.ag-full-width-row.ag-row-group::before {
    content: "";
    background: var(--highlighter, #DEECF6);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* Targeting mat-menu-item class */
.custom-menu-item {
    border-radius: 6px;
    background: var(--Background-White, #FFF);
    /* box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.12); */
    display: flex;
    padding: 9px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 200px;
}


::ng-deep .masterScreen-content-table .ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 0px solid #dee2e6 !important;
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
    padding-top: 0px !important;
}

::ng-deep .masterScreen-content-table .ag-ltr .ag-cell {
    border-right-width: 1px;
    border-top: 0px solid #dee2e6 !important;
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-content: center;
}

::ng-deep .ag-row {
    cursor: pointer;
}

::ng-deep .ag-row {
    height: var(--ag-row-height);
    background-color: var(--ag-background-color);
    color: var(--ag-data-color);
    border-bottom: none;
}

::ng-deep .ag-checkbox-input-wrapper::after {
    color: #B3B3B3 !important;
    font-size: 16px !important;
    /* width: 16px; */
}

::ng-deep .ag-row-selected::before {
    content: "";
    background: var(--highlighter, #DEECF6);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.QChecked{
    border-radius: 4px;
    background: rgba(6, 214, 93, 0.986);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #fff);
}

.QPending{
    border-radius: 4px;
    background: rgba(231, 96, 72, 0.986);
    /* background: rgba(13, 186, 93, 0.14) !important; */
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--linear-Color, #fff);
}

.driver-in-transit{
    border-radius: 4px;
background: rgba(255, 177, 0, 0.20);
padding: 5px 12px;
color: #E18417;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.load-in-transit{
    border-radius: 4px;
background: rgba(255, 177, 0, 0.20);
padding: 5px 12px;
color: #E18417;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.material-in-Transit{
    border-radius: 4px;
background: rgba(255, 177, 0, 0.20);
padding: 5px 12px;
color: #E18417;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.driver-arrived{
    border-radius: 4px;
    background: var(--highlighter, #DEECF6);
padding: 5px 12px;
color: #006CB7;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.bin-assigned{
    border-radius: 4px;
    background: var(--highlighter, #DEECF6);
padding: 5px 12px;
color: #006CB7;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.material-arrived{
    border-radius: 4px;
    background: var(--highlighter, #DEECF6);
padding: 5px 12px;
color: #006CB7;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.Collected{
    border-radius: 4px;
    background: var(--highlighter, #DEECF6);
padding: 5px 12px;
color: #006CB7;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.assigned{
    border-radius: 4px;
    background: var(--highlighter, #DEECF6);
padding: 5px 12px;
color: #006CB7;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.load-arrived{
    border-radius: 4px;
    background: var(--highlighter, #DEECF6);
padding: 5px 12px;
color: #006CB7;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}

 .weighed {
    border-radius: 4px;
background: rgba(13, 186, 93, 0.14);
color: var(--logo-greeen, #388C5F);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
 .tipped {
    border-radius: 4px;
background: rgba(13, 186, 93, 0.14);
color: var(--logo-greeen, #388C5F);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
 .tipping {
    border-radius: 4px;
background: rgba(13, 186, 93, 0.14);
color: var(--logo-greeen, #388C5F);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
 .sign-off {
    border-radius: 4px;
background: rgba(13, 186, 93, 0.14);
color: var(--logo-greeen, #388C5F);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
 .signed-off {
    border-radius: 4px;
background: rgba(13, 186, 93, 0.14);
color: var(--logo-greeen, #388C5F);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}

.material-verified{
    border-radius: 4px;
    background: rgba(99, 2, 238, 0.20);
    color: #6C35BC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 12px;
}

.material-intake{
    border-radius: 4px;
    background: rgba(99, 2, 238, 0.20);
    color: #6C35BC;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 5px 12px;
}
.drafts{
    border-radius: 4px;
background: var(--Slate-200, #E2E8F0);
color: var(--Slate-500, #64748B);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pending {
    border-radius: 4px;
    background: rgba(232, 28, 40, 0.14) !important;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #E81C28;
    text-align: center;
}

.statusCls{
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskTable{
    padding-bottom: 40px;
}