.deletePopupContainer {
    /*padding: 20px 24px;*/
    min-width: 400px;
}

.delete {
    padding: 6px 24px;
    border-radius: 4px;
    background: #E81C28;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    border: none;
    cursor: pointer;
}

.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

.cancel {
    padding: 6px 24px;
    border-radius: 4px;
    border: 1px solid #CBD5E1;
    background: #fff;
    color: #334155;
    margin-left: 12px;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
}

.title-header-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E293B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E2E8F0;
}

.deletePopupContainer p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #475569;
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

::ng-deep .deletePopupContainer .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
}

::ng-deep .deletePopupContainer .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px 12px;
    border-top: 0;
    border-bottom: 0;
}

::ng-deep .deletePopupContainer .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #E2E8F0;
}

::ng-deep .deletePopupContainer .mat-form-field-appearance-outline .mat-form-field-outline-start,
::ng-deep .deletePopupContainer .mat-form-field-appearance-outline .mat-form-field-outline-gap,
::ng-deep .deletePopupContainer .mat-form-field-appearance-outline .mat-form-field-outline-end {
    background: #F8FAFC;
}

::ng-deep .deletePopupContainer input.mat-input-element {
    color: #475569;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}