.addorders-container {
    background-color: #f2f2f7 !important;
    /* z-index: 9999; */
    /* height: 1000vh; */
    padding-bottom: 50px;
}

.addorders-header {
    padding: 6px 12px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    background: var(--White, #FFF);
    position: static;
    top: 40px;
    z-index: 1000;
}

.cancel-btn {
    color: var(--Slate-700, #334155);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    /* 146.154% */
}

.addorders-header h4 {
    color: var(--Slate-800, #1E293B);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
}

.addorders-header .addBtn-users {
    border-radius: 4px;

    padding: 3.5px 12px;
    border: none;
    color: var(--Background-White, #FFF);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    /* 146.154% */
}

.saveText {
    padding: 2.5px 36px;
}

.dropDownIcon {
    border-left: 1px solid #FFFFFF;
    padding-left: 7.5px;
}

.indicationCls {
    color: #475569;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-left: 6px;
}


@media (min-width: 1200px) {

    .addorders-container .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 50% !important;
    }
}

.addorders-bodyContent {
    background: var(--Background-White, #FFF);
    padding: 20px 28px;
    border-radius: 4px;
    margin-top: 20px;

}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;

    /* This ensures a single field in a row takes 100% width */
    &>.form-field {
        flex: 0 0 48%;
        /* Default is 48% width when there are two fields */

        /* Full width if there is only one field in the row */
        &:only-child {
            flex: 0 0 100%;
        }
    }
}


.form-field {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

.inputLikeBtn {
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
}

.homeAddContainer h4 {
    /* border-bottom: 1px solid #CBD5E1; */
    color: #1E293B;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 8px 28px;

}

.header {
    border-bottom: 1px solid #CBD5E1;
}

.header h4 {
    color: var(--Slate-800, #1E293B);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 28px;
}

.header button {
    color: var(--primary-col, #006CB7);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 28px;
}


::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .25em 0;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
    border-top: 10px solid transparent;
    border-bottom: 6px solid transparent;
}
::ng-deep .addorders-bodyContent .datePickerCls .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
    border-bottom: 0px !important;
    border-top: 0px !important;
}
::ng-deep .addorders-bodyContent .datePickerCls  .mat-icon-button {
 
    width: 20px !important;
    height: 38px !important;
}

.addorders-bodyContent mat-label {
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
}

::ng-deep .addorders-bodyContent input.mat-input-element {
    margin-top: -0.0625em;
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%);
}

::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-end {
    background: var(--Slate-100, #F1F5F9);
    /* border-right: 1px solid var(--Slate-200, #E2E8F0); */

}

::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    background: var(--Slate-100, #F1F5F9);

}

::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-form-field-outline-start {
    background: var(--Slate-100, #F1F5F9);
    /* border-left: 1px solid var(--Slate-200, #E2E8F0); */

}

::ng-deep .addorders-bodyContent span.mat-select-min-line {
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::ng-deep .addorders-bodyContent .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 3px !important;
}
::ng-deep .addorders-bodyContent .timePickersCls .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 6px !important;
}

.suffixTextCls {
    color: var(--Slate-500, #64748B);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 169.231% */
}

.homeAddContainer {
    background: #FFFFFF;
    border-radius: 4px;
}

.homeAddContainer p {
    color: #61656E;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.licenseUploadBtn {
    border: 1px solid #64748B;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #64748B;
    padding: 4px 12px;
    border-radius: 4px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.gap-4 {
    gap: 4px;
}


.profile-img-content,
.hasProfile {
    position: relative;
    display: inline-block;
}

span.noProfile {
    display: flex;
}

.uploadBtn {
    display: none;
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 0;
    background: #E2E8F0;
    color: #334155;
    /* font-family: 'BlinkMacSystemFont Regular'; */
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    border: none;
}

.profile-img-content:hover .uploadBtn,
.hasProfile:hover .imgBtnUpload {
    display: block;
}



.profile-Upload .circle {
    width: 5px;
    height: 5px;
    background: #64748B;
    border-radius: 50%;
}

.gap-12 {
    gap: 12px;
}

.gap-6 {
    gap: 6px;
}

.gap-8 {
    gap: 8px;
}

.profile-Upload p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: left;
    color: #475569;

}

/* Styling adjustments for the button positioning */
.imgBtnUpload {
    display: none;
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 0;
    left: 0;
    /* background: #FFFFFF;
    color: #334155;
    font-family: 'BlinkMacSystemFont Regular';
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    border: none; */
}


.addorders-bodyContent img {
    border-radius: 4px;
    width: 47.88px;
    height: 47.88px;
}


.noProfile {
    /* background: #E2E8F0; */

    border-radius: 4px;
    width: 47.88px;
    height: 47.88px;
    /* color: var(--primary-col, #006CB7); */
    font-size: 17.47px;
    font-weight: 600;
    line-height: 23.05px;
    letter-spacing: 0.01em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Menu-Higlight, rgba(127, 151, 241, 0.30));
    color: #283892;
}

.gap-24 {
    gap: 24px;
}

.dased-hr {
    border: 1px dashed var(--Slate-300, #CBD5E1);
    width: 100%;
}

.inputLikeBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    align-items: start;
    grid-gap: 10px;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid var(--Slate-200, #E2E8F0);
    background: var(--Slate-100, #F1F5F9);
    color: var(--Slate-700, #334155);
    font-family: BlinkMacSystemFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

::ng-deep .add-bin .mat-dialog-container {
    padding: 0px;
}

.wieght-texts-lable {
    color: var(--Slate-600, #475569);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

.homeAddContainer-footer {
    border-radius: 0px 0px 4px 4px;
    border-top: 1px solid var(--Slate-200, #E2E8F0);
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 8px 28px;
}

.homeAddContainer-footer h3 {
    color: var(--Slate-800, #1E293B);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

.homeAddContainer-footer p {

    color: var(--Slate-800, #1E293B);
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 153.846% */
    margin-bottom: 0px;
}

/* ---------------------------------------------------------------- */
::ng-deep .importTemplate .mat-dialog-container {
    display: block;
    padding: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
/* 
::ng-deep .add-bin .mat-dialog-container 
{
  padding: 0px;
}




::ng-deep .add-bin .mat-dialog-container {
position: fixed;
top: 48px;
right: 0px;
height: 100vh;
width: calc(100% - 112px); 
max-width: 700px;
min-width: 300px;
box-shadow: -11px 5px 22px 1px #00000026;
overflow-y: auto; 
overflow-x: hidden; 
border-radius: 0px;
}

@media (max-width: 768px) {
::ng-deep .add-bin .mat-dialog-container {
  right: 0px; 
  width: 100vw; 
  left: 0; 
}
}

::ng-deep .add-bin .cdk-overlay-pane {
pointer-events: all !important; 
} */


.indicationRepeat{
    border-radius: 5px;
background: #EFEBFE;
display: flex;
padding: 8px;
align-items: center;
gap: 10px;
align-self: stretch;
}

.indicationRepeat p{
    color: var(--Slate-600, #475569);
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 153.846% */
}

.indicationContainer h4{
    border-bottom: none;
    padding-left: 0px;
}

.day {
    border-radius: 19.765px;
    background: var(--Slate-200, #E2E8F0);
    width: 28.235px;
    height: 28.235px;
    color: var(--Slate-800, #1E293B);
    /* font-family: Inter; */
    font-size: 12.235px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.days-container{
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

.selected{
    border-radius: 19.765px;
background: var(--Leo-light, #5253AE);
color: var(--Background-White, #FFF) !important;
}

/* ------------------------------------------------ */
::ng-deep .form-field .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix 
.mat-icon, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon {
    display: block;
    margin-top: 10px !important;
}
::ng-deep .form-field .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
    font-size: 126% !important;
    line-height: 1.125 !important;
}

/* ------------------------------------------ */
::ng-deep .mat-option {
    color: var(--Slate-600, #475569);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: BlinkMacSystemFont;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .indicatioinPickup{
    gap: 8px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
background: var(--Leo-Light, #EFEBFE);
  }

  .indicatioinPickup p{
    color: var(--Slate-600, #475569);
font-feature-settings: 'liga' off, 'clig' off;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
margin-bottom: 0px;
  }

  .errorText{
    color: red !important;
  }

  .isActive{
    background: #129D5226;
    border-radius: 22px;
font-size: 13px;
font-weight: 400;
line-height: 15.51px;
text-align: left;
color: #129D52;
padding: 4px 16px;
}
.isNotActive{
    background: #129D5226;
    border-radius: 22px;
font-size: 13px;
font-weight: 400;
line-height: 15.51px;
text-align: left;
color: #E81C28;
padding: 4px 16px;
}
.inTransmitCls {
    color: var(--Status-Not-Interested, #E81C28);
    font-size: 13px;
    font-weight: 500;
    line-height: 15.51px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    gap: 4px;
    align-items: center;

}
.inTransmitCls .cricleCls{
    background: #E81C28;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    
}

.disableOnDuty{
    opacity: 0.5;
    pointer-events: none;
}


.avaiable-status{
    color: #0DBA5D;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.51px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    gap: 4px;
    align-items: center;
    
}

.avaiable-status .cricle{
    background: #0DBA5D;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    
}
