.documentViewer {
    background-color: #FFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

h1 {
    color: var(--Slate-700, #334155);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0 !important;
}
.document {
    display: flex;
    justify-content: center;
    background: #000;
}
.footer {
    padding: 8px 20px;
}

.fileName {
    color: var(--Slate-900, #0F172A);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    gap: 8px;
}
.document img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}