.edit-Profile-header {
    border-bottom: 1px solid #E2E8F0;
    background: #F9F9FB;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 6px 12px;
    gap: 12px;
}

.save-btn {

    border-radius: 4px;
    padding: 5px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: left;
    color: #FFFFFF;
    border: none;
}

.cancle-btn {
    border: 1px solid #94A3B8;
    border-radius: 4px;
    padding: 5px 16px;
    background-color: transparent;
    color: #334155;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: left;

}

::ng-deep .edit-profile-content .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .25em 0;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


::ng-deep .edit-profile-content .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
    border-top: 10px solid transparent;
    border-bottom: 6px solid transparent;
}

label {
    margin-bottom: 0px !important;
}

::ng-deep .edit-profile-content .mat-checkbox-frame {

    border: 1px solid #B3B3B3 !important;
}

.edit-profile-content {
    width: 580px;
    padding: 20px;
}


.edit-profile-content mat-label {
    color: var(--Slate-800, #1E293B);
    font-family: BlinkMacSystemFont;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
}


.edit-profile-content h4 {
    color: #334155;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
    margin-left: 16px;
    border-bottom: 1px solid #D9D9D9;
    ;
}

.edit-profile-content h6 {
    color: #1E293B;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
    margin-left: 16px;
    border-bottom: 1px solid #D9D9D9;
}

.noProfile {
    /* background: #CCE2F1; */
    border-radius: 4px;
    width: 47.88px;
    height: 47.88px;
    /* color: var(--primary-col, #006CB7); */
    font-size: 17.47px;
    font-weight: 600;
    line-height: 23.05px;
    letter-spacing: 0.01em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Menu-Higlight, rgba(127, 151, 241, 0.30));
    color: #283892;
    text-transform: uppercase !important;
}

.nameProfile {
    color: #1E293B;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-transform: capitalize !important;
}


.edit-profile-content .circle {
    width: 5px;
    height: 5px;
    background: #64748B;
    border-radius: 50%;
}

.gap-12 {
    gap: 12px;
}

.gap-6 {
    gap: 6px;
}

.edit-profile-content p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
    text-align: left;
    color: #475569;

}

.edit-profile-content img {
    border-radius: 4px;
    width: 47.88px;
    height: 47.88px;
    object-fit: cover;
}

/* span.noProfile {
    display: flex;
}

.profile-img-content:hover span.noProfile{
    display: none;
}

button.noProfile {
    display: none;
}

.profile-img-content:hover button.noProfile {
    display: flex;
}

.uploadBtn{
    background: #FFFFFF;
    color: #334155;
    font-family: 'BlinkMacSystemFont Regular';
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    
}

.hasProfile img:hover{
    display: none;
}

.hasProfile .imgBtnUpload{
    display: none;
}

.hasProfile img:hover .imgBtnUpload{
    display: flex;
} */

.profile-img-content,
.hasProfile {
    position: relative;
    display: inline-block;
}

.noProfile {
    display: flex;
}

.uploadBtn {
    display: none;
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    color: #334155;
    /* font-family: 'BlinkMacSystemFont Regular'; */
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    border: none;
}

.profile-img-content:hover .uploadBtn,
.hasProfile:hover .imgBtnUpload {
    display: block;
}

.hasProfile:hover img {}

/* Styling adjustments for the button positioning */
.imgBtnUpload {
    display: none;
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 0;
    left: 0;
    /* background: #FFFFFF;
    color: #334155;
    font-family: 'BlinkMacSystemFont Regular';
    font-size: 10px;
    font-weight: 400;
    line-height: 11.93px;
    text-align: left;
    padding: 1.5px 9.5px;
    height: 15px;
    width: 48px;
    border: none; */
}

.profileImageCls {
    width: 48px;
    height: 48px;
    object-fit: cover;
}
.mobileNumberCls{
    gap: 12px;
}
.text-danger {
    color: red;
    font-size: 14px;
}