.forgotPassword-conatiner {
    background: var(--Background-White, #FFF);
}

.logo {
    padding-top: 53px;
    padding-left: 48px;
    justify-content: start;
    display: flex;
}

/* input-content css */
.recover-content {
    justify-content: center;
    align-items: center;
    display: flex;
    height: calc(100vh - 300px);
}

.input-content {
    max-width: 432px;
}

.input-content h6 {
    color: var(--Slate-800, #1E293B);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-content p {
    color: var(--Slate-500, #64748B);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 44px;
    width: 432px;

}

/* input modify css */
::ng-deep .input-content .mat-form-field-flex>.mat-form-field-infix {
    padding: 10px 0px !important;
    border-top: 0px !important;
}

::ng-deep .input-content .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .input-content .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .input-content input.mat-input-element {
    margin-top: -0.0625em;
    font-family: BlinkMacSystemFont !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #334155;
}

::ng-deep .input-content .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.input-content .inputField {
    font-size: 18px;
    margin-bottom: 5px;
}

.inputLabel {
    color: var(--Slate-700, #334155);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

/* submit button */
.btn-group button {
    border-radius: 6px;
    
    color: var(--Background-White, #FFF);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 36px;
}

.Return-page {
    color: var(--Slate-700, #334155);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;

}