.logo {
    padding-top: 53px;
    padding-left: 48px;
    justify-content: start;
    display: flex;
}

.createpassword-content {
    justify-content: center;
    align-items: center;
    display: flex;
    height: calc(100vh - 300px);
}

.createPassword {
    width: 432px;
}

.createPassword h6 {
    color: var(--Slate-800, #1E293B);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 8px;
}

.createPassword p {
    color: var(--Slate-500, #64748B);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 44px;
}

/* input content modify css */
::ng-deep .createPassword .mat-form-field-flex>.mat-form-field-infix {
    padding: 10px 0px !important;
    border-top: 0px !important;
}

::ng-deep .createPassword .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .createPassword .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .createPassword input.mat-input-element {
    margin-top: -0.0625em;
    font-family: BlinkMacSystemFont !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #334155;
}

::ng-deep .createPassword .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.createPassword .inputField {
    font-size: 18px;
    margin-bottom: 5px;
}

.inputLabel {
    color: var(--Slate-700, #334155);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
/* ---------------------------------------------------------- */
.conformPassword{
    margin-top: 24px;
}
/* submit button */
.btn-group button {
    border-radius: 6px;
    
    color: var(--Background-White, #FFF);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
}

/* password requried */
.flex-row {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin-bottom: 9px;
}

.flex-row.mt-5 p,
.flex-row p {
    color: var(--slate-500, #64748B);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}