.notificationContainer {
    background: #FFF;
    height: 100%;
    padding-top: 40px;
}

header {
    padding: 16px 20px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    background: var(--White, #FFF);
    z-index: 1000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--menu, #464855);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 12px;
}

.notifyCount {
    display: flex;
    padding: 4.684px;
    justify-content: center;
    align-items: center;
    border-radius: 3.123px;
    background: #E44424;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    width: 24px;
}

.notifyBar {
    display: flex;
    padding: 12px 20px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    background: #FFF;
    gap: 4px;
}

.notifyBarButtons {
    display: flex;
    padding: 5px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Slate-700, #334155);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.active {
    border-radius: 4px;
    background: var(--Menu-Higlight, rgba(127, 151, 241, 0.30));
    color: #283892;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.notificationList {
    /* padding: 0 20px; */
}
.noNotificationList  {
    color: var(--menu, #464855);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.notificationCard {
    padding: 8px 20px;
    border-bottom: 1px solid var(--Slate-200, #E2E8F0);
    width: 100%;
    text-align: left;
}

.notificationCard:hover {
    background-color: rgba(127, 151, 241, 0.30);
}

.notificationMsg {
    color: var(--Slate-800, #1E293B);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.read {
    color: var(--Slate-600, #475569);
}

.notifyTime {
    color: var(--Slate-600, #475569);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}