.addUpdate-note-header{
    border-bottom: 1px solid #E2E8F0;
border-left: 1px solid #E2E8F0;
background: #F9F9FB;
display: flex;
height: 36px;
padding: 7px 15px;
justify-content: space-between;
align-items: center;
align-self: stretch;

}
.addUpdate-note-header h4{
    color: var(--Slate-700, #334155);
font-size: 15px;
font-style: normal;
font-weight: 500;
    

}
.addUpdate-note-header button{
border: none;
background-color: transparent;
}

.addUpdate-add-note-content{
    padding: 16px 12px;
    padding-bottom: 72px;
}
.addUpdate-add-note-content p{
    color: #475569;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    margin-bottom: 16px;
}

.addUpdate-add-note-content mat-label{
    color: #475569;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    
}

::ng-deep .addUpdate-add-note-content .mat-slide-toggle-label{
    flex-direction: row-reverse;
    justify-content: start;
    gap: 8px;
}

.footer-btn-container{
    background: #FFFFFF;
    border-top: 1px solid #E2E8F0;
    display: flex;
    justify-content: end;
    gap: 8px;
    padding: 12px 16px;
    position: fixed;
    width: 700px;
    bottom: 0px;
    z-index: 555;
}

.deleteBtn{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    padding: 6px 26px;
    color: #242424;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    border-radius: 4px;
    
}

.gap-8{
    gap: 8px;
}

.saveBtn{
    border-radius: 4px;
background: var(--linear-Color, #283892);
    padding: 6px 26px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    border: none;
}
.add-notes-required-cls{
    color: red;
}

::ng-deep .add-notes-container .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 1em 0;
}

::ng-deep .add-notes-container textarea.mat-input-element {
    padding: 2px 0;
    margin: -2px 0;
    color: var(--Slate-600, #475569);
    font-family: BlinkMacSystemFont !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}