.addVehicletype-content{
    padding: 20px 16px;
    padding-bottom: 130px;
    }
    
    .addVehicletype-content mat-label{
        color: var(--Slate-800, #1E293B);
        /* font-family: BlinkMacSystemFont !important; */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    }
    
    .addVehicletype-header{
        border-bottom: 1px solid #E2E8F0;
    background: #F9F9FB;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    }
    
    .addVehicletype-header h4{
        color: var(--Slate-700, #334155);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
    }
    
    .vehicleType-footer{
        padding: 16px;
    }
    
    
    ::ng-deep .addVehicletype-content .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: .25em 0;
        margin-bottom: 0px !important;
        padding: 0px !important;
    }
    
    
    ::ng-deep .addVehicletype-content .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0px;
        border-top: 10px solid transparent;
        border-bottom: 6px solid transparent;
    }
    
    .gap-8{
        gap: 8px;
    }
    
    .vehicleType-footer{
        position: fixed;
        width: 700px;
        bottom: 0px;
        z-index: 555;
        border-top: 1px solid var(--Slate-200, #E2E8F0);
    background: #FFF;
    }
    
    .cancleBtn{
        border-radius: 4px;
        border: 1px solid var(--Light-theme-Rest-Border-Default-Border, #D1D1D1);
        background-color: transparent;
        padding: 6.5px 27px;
        color: var(--light-theme-rest-foreground-default-foreground-242424, #242424);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 135.714% */
    }
    
    .saveBtn{
        padding: 6.5px 34.5px;
        border-radius: 4px;
    
    color: var(--Light-theme-Rest-Foreground-Default-Foreground-3, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 135.714% */
    border: none;
    
    }