<div class="users-container">
    <div class="users-header d-flex justify-content-between align-items-center  ">
        <div class="user-head-left d-flex gap-24 align-items-center">
            <span>
                {{this.totalPages}} user(s) in List
            </span>
            <div class="search">
                <mat-form-field class="searchCls w-100" appearance="outline" aria-label="Search customer name">
                    <input type="search" matInput placeholder="Search customer name"
                         aria-label="Search" (keyup)="filteredUsersList($event.target)">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="user-head-right d-flex align-items-center gap-24">
            <div class="border-less-input ">
                <!-- <mat-form-field appearance="outline" class="doc-typ">
                 
                  <mat-select placeholder="Document type">
                    <mat-option >All</mat-option>
      
      
                  </mat-select>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M5 8L10 13L15 8" stroke="#475569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </mat-form-field> -->
              </div>
              <div class="search ml-3" >
                <button class="filter-btn mr-2 d-flex justify-content-between align-items-center common-btn" [matMenuTriggerFor]="filter" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <g clip-path="url(#clip0_478_6335)">
                            <path
                                d="M2.5 15H7.5V13.3333H2.5V15ZM2.5 5V6.66667H17.5V5H2.5ZM2.5 10.8333H12.5V9.16667H2.5V10.8333Z"
                                fill="#475569" />
                        </g>
                        <defs>
                            <clipPath id="clip0_478_6335">
                                <rect width="20" height="20" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p class="m-0 sortedByCls ml-2">Sort by</p>
                </button>
                <mat-menu #filter="matMenu">
                    <div *ngFor="let sortby of sortList">
                        <button mat-menu-item (click)="sortByValue(sortby.sortCode)">{{sortby.sortName}}</button>
              
                    </div>
                </mat-menu>
              </div>
            <button type="button" class="addBtnCls bgColorCls d-flex justify-content-between align-items-center common-btn" 
            (click)="addUsers()" *ngIf="permissions?.createAccess">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="mr-1">
                    <path d="M10 4.1665V15.8332" stroke="white" stroke-width="1.4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4.16602 10H15.8327" stroke="white" stroke-width="1.4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                Add User</button>
        </div>
    </div>

    <div class="users-bodyContent">
        <div class="noUsersContainer d-flex flex-column justify-content-center align-items-center "  *ngIf="this.userRecords.length == 0; else asRecords">
            <svg width="48" height="47" viewBox="0 0 48 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" width="47" height="47" rx="23.5" fill="#006CB7" fill-opacity="0.2" />
                <g clip-path="url(#clip0_499_5276)">
                    <path
                        d="M17.001 18C17.001 19.0609 17.4224 20.0783 18.1725 20.8284C18.9227 21.5786 19.9401 22 21.001 22C22.0618 22 23.0793 21.5786 23.8294 20.8284C24.5795 20.0783 25.001 19.0609 25.001 18C25.001 16.9391 24.5795 15.9217 23.8294 15.1716C23.0793 14.4214 22.0618 14 21.001 14C19.9401 14 18.9227 14.4214 18.1725 15.1716C17.4224 15.9217 17.001 16.9391 17.001 18Z"
                        stroke="#006CB7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M15 32V30C15 28.9391 15.4214 27.9217 16.1716 27.1716C16.9217 26.4214 17.9391 26 19 26H23C24.0609 26 25.0783 26.4214 25.8284 27.1716C26.5786 27.9217 27 28.9391 27 30V32"
                        stroke="#006CB7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M27.999 14.1296C28.8594 14.3499 29.6221 14.8503 30.1667 15.5519C30.7113 16.2536 31.0069 17.1165 31.0069 18.0046C31.0069 18.8928 30.7113 19.7557 30.1667 20.4573C29.6221 21.1589 28.8594 21.6593 27.999 21.8796"
                        stroke="#006CB7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M33 31.9999V29.9999C32.9949 29.1171 32.6979 28.2607 32.1553 27.5643C31.6126 26.8679 30.8548 26.3706 30 26.1499"
                        stroke="#006CB7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_499_5276">
                        <rect width="24" height="24" fill="white" transform="translate(12 11)" />
                    </clipPath>
                </defs>
            </svg>
            <p class="mb-0 noUserscls mt-2">No users added yet</p>
        </div>


        <ng-template #asRecords>
            <div class="" >

                <button class="usersCards common-btn w-100" *ngFor="let list of userRecords;index as i" (click)="viewUser(list,i)">
                    <div class="userCards-content">
                       <div class="d-flex gap-12 align-items-center w-180">

                        <div class="nameIndication">
                            {{list?.userFirstName?.slice(0,1)}} {{list?.userLastName?.slice(0,1)}}
                        </div>

                        <label> {{list?.fullName}}</label>
                       </div>
                    </div>
                    <div class="userCards-content d-flex flex-column w-180">
                        <label >Role type</label>
                        <p>{{list?.roleType}}</p>
                    </div>
                    <div class="userCards-content d-flex flex-column w-180">
                        <label >Email address</label>
                        <p>{{list?.email}}</p>                  
                    </div>
                    <div class="userCards-content d-flex flex-column w-180">
                        <label >Last login</label>
                       <p>{{list?.LastLogin ? (list?.LastLogin | date:'dd/MM/yy hh:mm') : '-'}}</p>             
                     </div>
                    <div class="userCards-content d-flex flex-column status-w">
                        <label >Status</label>
                       <p class="pedingCls">{{list?.LoggedStatus || '-'}}</p>         
                     </div>
                </button>

            </div>
        </ng-template>
       
    </div>

    <app-custom-paginator 
    [length]=totalPages 
    [pageSizeOptions]="[10,25,50,75, 100]" 
    [showFirstLastButtons]="true" 
    (pageChange)="onPageChange($event)"
    [currentIndex] = currentPage
    >
  </app-custom-paginator>

</div>
