<div class="toast-overlay">
    <div class="toasts"></div>
    <div class="master-toast-notification hide-toast">
        <div class="toast-content">
            <div class="d-flex justify-content-center align-items-center">
                <div class="toast-icon">
                    <i class=""></i>
                </div>
                <div class="toast-msg"></div>
            </div>
            <div class="close-icon" >
                <i class=""  style="margin-top: 5px;"></i>
            </div>
        </div>
        <!-- <div class="toast-progress">
            <div class="toast-progress-bar"></div>
        </div> -->
    </div>
</div>

