<div class="changePswdContainer">
    <form class="cus-edit-container" [formGroup]="changePswdForm" (ngSubmit)="submit()">
        <div>
            <div class="changePswdHeader d-flex justify-content-between align-items-center">
                <h1 class="">Change password</h1>
                <button class="common-btn" type="button" (click)="close()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 5L5 15" stroke="#334155" stroke-width="1.25" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M5 5L15 15" stroke="#334155" stroke-width="1.25" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="bodyContainer">
                <div>
                    <label class="">Current Password <sup class="requiredCls">*</sup></label>
                    <mat-form-field class="w-100" appearance="outline">
                        <input matInput autocomplete="off" type="password" placeholder="Enter current password"
                            aria-label="Enter current password" formControlName="currentPassword"
                            [type]="hide1 ? 'password' : 'text'" (keyup)="oldPasswordCheck($event)">
                        <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="passwordErrStatus" *ngIf="!oldPasswordError"> Old password is incorrect.</div>

                    <label class="mt-1">New Password <sup class="requiredCls">*</sup></label>
                    <mat-form-field class="w-100" appearance="outline">
                        <input matInput autocomplete="off" type="password" placeholder="Enter new password"
                            aria-label="Enter new password" formControlName="newPassword"
                            [type]="hide2 ? 'password' : 'text'" (keyup)="newPasswordCheck()">
                        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="passwordErrStatus" *ngIf="newPasswordError">New password cannot be your current password
                        !</div>

                    <label class="mt-1">Confirm Password <sup class="requiredCls">*</sup></label>
                    <mat-form-field class="w-100" appearance="outline">
                        <input matInput autocomplete="off" type="password" placeholder="Enter confirm password"
                            aria-label="Enter confirm password" formControlName="confirmPassword"
                            [type]="hide3 ? 'password' : 'text'" (keyup)="confirmPasswordCheck()">
                        <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="passwordErrStatus" *ngIf="confirmPasswordError">Password does not match!</div>


                    <div class="flex-row flex-top mt-1">
                        <img [src]="!(orgPassword.length > 7) ? './assets/images/login/disable.svg':'./assets/images/login/correct.svg'"
                            alt="" class="">
                        <p>8 Characters minimum</p>
                    </div>
                    <div class="flex-row">
                        <img [src]="!digit ? './assets/images/login/disable.svg':'./assets/images/login/correct.svg'"
                            alt="" class="">
                        <p>One number minimum</p>
                    </div>
                    <div class="flex-row">
                        <img [src]="!lowerCase || !upperCase ? './assets/images/login/disable.svg':'./assets/images/login/correct.svg'"
                            alt="" class="">
                        <p>One uppercase and one lower case</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="footerCls">
            <button type="button" class="cancelBtn" (click)="close()">Cancel</button>
            <button type="submit" class="continueBtn bgColorCls"
                [ngClass]="{'disabledBtn': confirmPasswordError || newPasswordError || !oldPasswordError}"
                [disabled]="confirmPasswordError || newPasswordError || !oldPasswordError">
                Save
            </button>

        </div>
    </form>
</div>