.changePswdContainer {
    height: 100%;
}
h1 {
    color: var(--Slate-700, #334155);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.changePswdHeader {
    border-bottom: 1px solid #E2E8F0;
    border-left: 1px solid #E2E8F0;
    background: #F9F9FB;
    padding: 7px 15px;

}

.bodyContainer {
    padding: 20px 16px;
}

label {
    color: var(--Slate-800, #1E293B);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 4px;
}

.requiredCls {
    color: var(--Red-500, #FF3B30);
}

::ng-deep .changePswdCls .mat-dialog-container {
    padding: 0px !important;
}

/* input */
::ng-deep .changePswdContainer .mat-form-field-flex>.mat-form-field-infix {
    padding: 10px 0px !important;
    border-top: 0px !important;
}

::ng-deep .changePswdContainer .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .changePswdContainer .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .changePswdContainer input.mat-input-element {
    margin-top: -0.0625em;
    font-family: BlinkMacSystemFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #334155;
}

::ng-deep .changePswdContainer .mat-form-field-wrapper {
    padding-bottom: 0px;

}

/* password requried */
.flex-row {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin-bottom: 9px;
}

.flex-row.mt-5 p,
.flex-row p {
    color: var(--slate-500, #64748B);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

/* Error */
.passwordErrStatus {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #F44336;
    margin-left: 10px;

}

.footerCls {
    padding: 16px;
    border-top: 1px solid var(--Slate-200, #E2E8F0);
    border-left: 1px solid var(--Slate-200, #E2E8F0);
    background: #FFF;
    position: sticky;
    bottom: 0;
    background-color: #FFF;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.cus-edit-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}