<div class="security-container">
    <div class="Password">
        <h6>Password</h6>
    </div>
    <div class="password-content">
        <div class="row">
            <div class="col-3 sub-title">
                <h6 class="mb-3">Last updated:</h6>
                <h6>Last login</h6>
            </div>
            <div class="col-2 sub-content">
                <h6 class="mb-3">15/10/2024</h6>
                <h6>01/18/2023 09:00 AM</h6>
            </div>
        </div>
        <button class="change-password common-btn" (click)="changePassword()">Change password</button>
    </div>
    <!-- <div class="mfa-content">
        <div class="Password">
            <h6>MFA</h6>
        </div>
        <div class="row">
            <div class="Mfa-title col-4">
                <h6 class="">2-step verification</h6>
                <h6>More sign in option (QR Code)</h6>
            </div>

            <div class="col-4 toggle-content">
                <mat-slide-toggle class="toggleBtn" [formControl]="Enabled"
                    (change)="toggle($event)"></mat-slide-toggle>
                <div>
                    <mat-slide-toggle class="toggleBtn" [formControl]="Enabled"
                        (change)="QRtoggle($event)"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div> -->
</div>